.header {
    padding: 16px 156px;
    background-color: #fff;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        justify-content: center;
        &__icon {
            margin: 0 auto;
        }
    }
    &__nav {
        &-list {
            display: flex;
            justify-content: space-between;
            width: 420px;
        }
        &-item {
            font-size: 14px;
            display: flex;
            justify-content: center;
            // &_active {
            //     background-color: rgba(255, 255, 255, 0.17);
            //     border-radius: 5%;
            // }
        }
    }
    &__button {
        position: relative;
        cursor: pointer;
        &__menu {
            position: absolute;
            display: none;
            width: 160px;
            left: 16px;
            text-align: center;
            background: #4A4A4A;
            box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 12px;
            z-index: 1;
            transition: 0.3s all;
            &:hover {
                background: #2C2C2C;
            }
        }
    }
}