.vaults {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #4A4A4A;
    }

    &__subtitle {
        font-style: normal;
        font-weight: 510;
        font-size: 12px;
        line-height: 20px;
        color: #8C8B8B;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 15px;
        width: 440px;
        margin-top: 8px;
        background-color: #222830;
        border-radius: 6px;
        &__header {
            color: rgba(255, 255, 255, 0.9);
            font-size: 12px;
        }
        &__value {
            margin-top: 4px;
            font-size: 16px;
        }
    }

    &__welcome {
        margin-top: 8px;
        font-size: 15px;
        padding: 15px;
        text-align: center;

        border-radius: 6px;
        background-image: linear-gradient(289deg,#1121b8,#fc5185);
    }

    &__settings {
        margin-top: 14px;
        &-views {
            display: flex;
            align-items: center;
            &__view {
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                color: #A4A4A4;
                margin-right: 24px;
                line-height: 24px;
                cursor: pointer;
                transition: all 0.3s;
                &_active {
                    border-bottom: 2px solid #4A4A4A;
                    color: #4A4A4A;
                }
                &:hover {
                    
                }
            }
        }

        &__wrapper {
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
        }

        &__sorting {
            display: flex;
            &-label {
                margin-right: 16px;
                font-weight: 510;
                font-size: 14px;
                color: #8C8B8B;
            }
            &-sort {
                position: relative;
                margin-right: 40px;
                display: flex;
                align-items: center;
                &__desc {
                    position: absolute;
                    right: -30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
                &__icon {
                    height: 24px;
                    width: 24px;
                }
            }
            &-farms {
                display: flex;
                align-items: center;
            }
        }
        &-search {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:after {
                content: ' ';
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                left: 71px;
                top: 50%;
                transform: translateY(-50%);
                background: url('../icons/application/search.svg') center center/contain no-repeat; 
            }
            input {
                width: 240px;
                height: 32px;
                background: #4A4A4A;
                border-radius: 16px;
                padding: 6px 8px;
                padding-left: 36px;
                border: none;
                font-weight: 510;
                font-size: 14px;
                color: #FFFFFF;
                cursor: pointer;
                outline: none;
                -webkit-user-select: none;  
                -moz-user-select: none;    
                -ms-user-select: none;      
                user-select: none;
                &::placeholder {
                    font-size: 14px;
                    color: #C7C7C7;
                }
            }
        }
    }

    &__cards {


        &__items {
            margin-top: 8px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &-item {
            width: 360px;
            margin-top: 40px;
            padding: 24px 32px 24px 24px;
            cursor: pointer;

            background: linear-gradient(118.71deg, #333333 1.74%, #494949 98.45%);
            border: 2px solid #333;
            border-radius: 24px;
            transition: 0.3s all;
            &__header {
                display: flex;
                &-title {
                    font-weight: 700;
                    font-size: 16px;
                    color: #FFFFFF;
                }
                &-subtitle {
                    font-style: normal;
                    font-weight: 510;
                    font-size: 12px;
                    color: #C7C7C7;
                }
                &__icons {
                    position: relative;
                    margin-right: 64px;
                }
                &__icon {
                    width: 24px;
                    height: 24px;
                }
                &__circle {
                    &_one {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 32px;
                        height: 32px;
                        background: #FFFFFF;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &_two {
                        position: absolute;
                        top: 0;
                        left: 24px;
                        width: 32px;
                        height: 32px;
                        background: #A4A4A4;
                        border-radius: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            &__body {
                margin-top: 21px;
                &-items {
                    display: flex;
                    flex-direction: column;
                }
                &-item {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 8px;
                    &__descr {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        text-align: right;
                        color: #FFFFFF;
                        span {
                            position: relative;
                            margin-left: 20px;
                        }
                    }
                    &__title {
                        font-style: normal;
                        font-weight: 510;
                        font-size: 14px;
                        color: #C7C7C7;
                    }
                }
            }
            &:hover {
                border: 2px solid #fff;
            }
        }
        &-balance {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            border-radius: 6px;
            font-size: 12px;
            color:rgba(255, 255, 255, 0.9);
            padding: 7px;
            width: 255px;
            background-color: #181d23;
        }
    }

}

.cross_line{
    width: 100%;
    border-bottom: 1px solid #DCDCDC;
    line-height: 25px;
}

.balance {
    display: none;
    line-height: 25px;
}

.span-apy {
    text-decoration: line-through;
    color: #C7C7C7;
}
.span-balance {
    color: #91FF76;
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: -20px;
        top: -4px;
        background: url('../icons/application/up.svg') center center/contain no-repeat;
    }
}
.label-apy{
color: #91FF76;
}